<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h2 class="gcm-header">Product Title Goes Here</h2>
    </div>
  </div>
  <div class="row padding-top image-box-product">
    <div class="col-md-5">
      <img src="http://via.placeholder.com/455x490" class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-md-7 padding-top-change">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item">Price: 12</li>
            <li class="list-group-item">Currency: CAD</li>
            <li class="list-group-item">Send Owl Cart</li>
          </ul>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item">Partial Add to cart</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">Manual File type: <strong>PDF</strong></li>
        <li class="list-group-item">Manual file: <strong>Download</strong></li>
        <li class="list-group-item">Manual pages: <strong>10</strong></li>
        <li class="list-group-item">Manual size: <strong>10mb</strong></li>
      </ul>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <h3 class="">Partial Advantages</h3>
      <p>From partial advantages</p>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <h3>Description</h3>
      <p>From partial Description</p>
    </div>
  </div>
  <div class="panel padding-top">
    <div class="panel-heading">
        <h3 class="panel-title">Manual Covers</h3>
    </div>
    <div class="panel-body">Manual cover</div>
  </div>
  <div class="panel padding-top">
    <div class="panel-heading">
        <h3 class="panel-title">Car Specification</h3>
    </div>
    <div class="col-md-4">
      <table class="table">
        <tr>
          <td>Make</td>
          <td>BMW</td>
        </tr>
        <tr>
          <td>Serie</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Sub-serie</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Platform</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Engine</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Year</td>
          <td>2014</td>
        </tr>
        <tr>
          <td>Body Type</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Fuel Type</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Cylinder</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Displacement</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Power_kw</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Horse Power</td>
          <td>X5</td>
        </tr>
        <tr>
          <td>Torque_nm</td>
          <td>X5</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12 text-center">
      <a href="#" class="btn btn-info" >Send Owl Cart</a>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">Partial Downloads: <strong>12</strong></li>
      </ul>
    </div>
  </div>
</div>
