<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h2 class="gcm-header">{{ .Title }}</h2>
    </div>
  </div>
  <div class="row padding-top image-box-product">
    <div class="col-md-5">
      <img src="{{ .Params.image_prod_page }}" class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-md-7 padding-top-change">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><span class="gcm-header">Currency: </span>{{ .Params.currency }}<span class="gcm-header">&nbsp;&nbsp; &nbsp; Price:</span> {{ .Params.price }} </li>
            <li class="list-group-item"><a target="_blank" href="{{ .Params.amazon_url }}" class="btn btn-primary">Go To Amazon</a></li>
          </ul>
        </div>
      </div>
      {{ partial "partial_cart.html" . }}
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item my-active"><span class="">File Information</li>
        <li class="list-group-item">
          <table class="table">
            <tr class="text-center">
              <td><span class="gcm-header">No. of Pages:</span> {{ .Params.manual_pages }}</td>
              <td><span class="gcm-header">File size download:</span> {{ .Params.manual_size }}</td>
              <td><span class="gcm-header">File type:</span> {{ .Params.manual_type }}</td>
              <td><span class="gcm-header">File:</span> {{ .Params.manual_file_type }}</td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
  {{ partial "advantages.html" . }}
  {{ partial "disadvantages.html" . }}
  {{ partial "description.html" . }}
  {{ partial "manualcover.html" . }}
  {{ partial "tableofcontent.html" . }}
  <div class="row padding-top">
    <div class="col-md-12 text-center">
        <a target="_blank" href="{{ .Params.amazon_url }}" class="btn btn-primary">Go To Amazon</a>
    </div>
  </div>
  {{ partial "partial_download.html" . }}
</div>
