<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h2 class="gcm-header">{{ .Title }}</h2>
    </div>
  </div>
  <div class="row padding-top image-box-product">
    <div class="col-md-5">
      <img src="{{ .Params.Image_prod_page }}" class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-md-7 padding-top-change">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><span class="gcm-header">Price:</span>{{ .Params.price }} </li>
            <li class="list-group-item"><span class="gcm-header">Currency:</span> {{ .Params.currency }}</li>
            <li class="list-group-item"><a target="_blank" href="{{ .Params.amazon_url }}" class="btn btn-primary">Go To Amazon</a></li>
          </ul>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><span class="gcm-header">From Partial Cart Button</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item"><span class="gcm-header">Manual File type:</span> <strong>{{ .Params.manual_file_type }}</strong></li>
        <li class="list-group-item"><span class="gcm-header">Manual file:</span> <strong>{{ .Params.manual_type }}</strong></li>
        <li class="list-group-item"><span class="gcm-header">Manual pages:</span> <strong>{{ .Params.manual_pages }}</strong></li>
        <li class="list-group-item"><span class="gcm-header">Manual size:</span> <strong>{{ .Params.manual_size }}</strong></li>
      </ul>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <h3 class="gcm-header">Partial Advantages</h3>
      <p>{{ .Params.pg_adv_desc_md }}</p>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <h3 class="gcm-header">Description</h3>
      <p>{{ .Description }}</p>
    </div>
  </div>
  <div class="panel padding-top">
    <div class="panel-heading">
        <h3 class="panel-title gcm-header">Manual Covers</h3>
    </div>
    <div class="panel-body">{{ .Params.manual_covers }}</div>
  </div>
  <div class="panel padding-top">
    <div class="panel-heading">
        <h3 class="panel-title gcm-header">Car Specification</h3>
    </div>
    <div class="col-md-4 padding-top">
      <table class="table">
        <tr>
          <td class="gcm-header">Make</td>
          <td>{{ .Params.make }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Serie</td>
          <td>{{ .Params.serie }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Sub-serie</td>
          <td>{{ .Params.sub_serie }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Platform</td>
          <td>{{ .Params.platform }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Engine</td>
          <td>{{ .Params.engine }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Year</td>
          <td>{{ .Params.year }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Body Type</td>
          <td>{{ .Params.body_type }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Fuel Type</td>
          <td>{{ .Params.fuel_type }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Cylinder</td>
          <td>{{ .Params.cylinders }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Displacement</td>
          <td>{{ .Params.displacement }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Power_kw</td>
          <td>{{ .Params.power_kw }}</td>
        </tr>
        <tr>
          <td class="gcm-header" >Horse Power</td>
          <td>{{ .Params.horse_power }}</td>
        </tr>
        <tr>
          <td class="gcm-header">Torque_nm</td>
          <td>{{ .Params.torque_Nm }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12 text-center">
        <a target="_blank" href="{{ .Params.amazon_url }}" class="btn btn-primary">Go To Amazon</a>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item"><span class="gcm-header">Partial Downloads:</span> <strong>{{ .Params.download_ID }}</strong></li>
      </ul>
    </div>
  </div>
</div>
